@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    padding-left: 15px;
    padding-right: 15px;
    border-color: slateblue;
    border-radius: 5px;
}

#titulo {
    text-align: center;
    padding-top: 30px;
    font-size: 3.1em;
}

.menu-container{
    display: flex;
    justify-content: center;
}

#menu {
    font-family: Verdana;
    font-weight: lighter;
    font-size: 1.1em;
    padding-top: 10px;
    padding-left: 5px;
}

#menu>a {
    text-decoration: none;
    color: black;
    padding: 3px;
}

#menu>a:hover {
    font-weight: bold;
    padding: 1px;}

.logo-container{
    display: flex;
    justify-content: center;
}

.logo-container>img{
    max-width: 70px;
    padding-top: 30px;
}

.line-container{
    display: flex;
    align-items: ;
/*preciso pensar em como fazer um circulo*/
}

.line1{
    height: 1px;
    background-color: black;
    width: 40%;
}

.line-circle{
    
    background-color: white;
    border-style: outset;
    border-color: black;
    border-width: 1px;
    border-top-color:white;
    height: 100px;
    width: 20%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.line2{
    background-color: black;
    height: 1px;
    width: 40%;
}
